@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0px;
}

.container {
  width: 90vw;
  display: flex;
}

.box {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  flex: 0.9;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.box h3 {
  font-size: 24px;
  margin: 0;
  bottom: 20px;
  left: 20px;
  position: absolute;
  opacity: 0;
}

.box.active {
  flex: 5;
}

.box.active h3 {
  opacity: 1;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
  .box:nth-of-type(4),
  .box:nth-of-type(5) {
    display: none;
  }
}
